<!DOCTYPE html>
	<html>
		<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

		<head>
			<title>{{ page.title}}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="google-site-verification" content="iFr4XCrJdDrIGlySdM-MvuDS8WECNFfb81GLsTSVexU" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/publications">Publications</a></li>
                    <li><a href="/code">Code</a></li>
					<li><a href="/media">Media</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:robert.stein@desy.de">robert.stein@desy.de</a></li>
        		    <li><a href="https://github.com/robertdstein">github.com/robertdstein</a></li>
					<li><a itemprop="sameAs" content="ORCID" href="https://orcid.org/0000-0003-2434-0387" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">0000-0003-2434-0387</a></li>
					<li><a href="https://scholar.google.com/citations?hl=en&user=9OAlaB8AAAAJ">Robert Stein (Google Scholar)</a></li>
				</ul>
			</footer>
		</body>
	</html>

